/* Remove default browser margins for these elements */

body, header, h1, nav, div, p {
    margin: 0;
    padding: 0;
}

/* Apply these styles everywhere on the page */

body {
    font-family: Poppins, sans-serif;

    background-color: #000;
    color: #e0e0e0;
}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/* Styles for header */

header {
    display: flex;
    flex-flow: row wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;

    background-color: #248004;
    color: #e0e0e0;
    grid-column: 1 / 13;
    grid-row: 1;
    min-height: 60px;
}

.header-title {
    width: 240px;
}

.header-logo {
    display: inline-block;
    vertical-align: top;

    width: 240px;
    height: 60px;
}

nav {
    width: calc(100% - 240px);
    text-align: center;
}

.desktop-nav {
    display: none;
    flex-flow: row nowrap;
    justify-content: flex-end;

    height: 60px;
}

.desktop-nav div {
    font-size: 24px;
    margin: auto 4px;
    width: 120px;
}

.menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

    height: 60px;
}

.menu-icon {
    font-size: 40px;
    margin: auto 0;
    width: 60px;
}

.mobile-nav {
    overflow: hidden;
    height: 0;
    width: 100%;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.mobile-nav div {
    font-size: 24px;
    height: 40px;
    margin: auto 0;
    text-align: center;
}

.mobile-nav .propic {
    height: 48px;
    width: 48px;
    margin: 6px;
    object-fit: cover;
}

.header-link {
    text-decoration: none;
}

.header-link:link, .header-link:visited, .menu-icon:link, .menu-icon:visited {
    color: #e0e0e0;
}

.header-link:hover, .menu-icon:hover {
    color: #a0d064;
}

.header-link:active, .menu-icon:active {
    color: #e0e0e0;
}

.menu-icon:hover {
    cursor: pointer;
}

/* Styles for article */

article {
    background-color: #e0e0e0;
    color: #000;
    grid-column: 5 / 13;
    grid-row: 2;

    /* min-height: 800px; */
    min-height: calc(100vh - 180px);
}

/* Gallery styles */

.gallery {
    display: flex;
    flex-flow: row wrap;
}

.card {
    display: flex;
    position: relative;

    background-color: #000;
    margin: 5px;
    width: calc(33.33% - 10px);
    height: 300px;
    overflow: hidden;
}

.card:hover {
    cursor: pointer;
}

.card:hover .card-img {
    opacity: 0.618;
}

.card:hover .card-info {
    bottom: 0;
}

.card-img {
    width: 100%;
    height: 300px;
    object-fit: scale-down;
    color: #e0e0e0;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.card-info {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: -40px;

    width: 100%;
    height: 100px;
    
    background-color: rgba(0, 0, 0, 61.8%);
    color: #e0e0e0;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.card-head {
    display: flex;
    width: 100%;
    height: 60px;

    /* background-color: rgba(60, 120, 0, 50%); */
}

.card-title {
    margin: auto 10px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-foot {
    display: flex;
    width: 100%;
    height: 40px;

    /* background-color: rgba(180, 60, 0, 50%); */
}

.card-author {
    margin: auto 10px;

    text-align: left;
    width: 61.8%;
}

.card-faves {
    margin: auto 10px;

    text-align: right;
    width: 38.2%;
}

/* Modal styles */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 999;

    background-color: rgba(0, 0, 0, 61.8%);
}

.modal-content {
    display: flex;
    position: relative;

    width: 960px;
    height: 640px;
    margin: auto;

    background-color: #000;
    color: #e0e0e0;
}

.modal-img {
    width: 640px;
    height: 640px;
    object-fit: scale-down;
}

.modal-aside {
    width: 320px;
    height: 640px;
}

.modal-head, .modal-body {
    background-color: #e0e0e0;
    color: #000;
}

.modal-head {
    display: flex;
    width: 320px;
    height: 40px;
}

.modal-title {
    margin: auto 10px;
    width: 280px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal-close {
    font-size: 24px;
    text-align: center;

    margin: auto 0;
    width: 40px;
}

.modal-close:hover {
    cursor: pointer;
}

.modal-body {
    width: 300px;
    height: 580px;
    padding: 10px;
}

.modal-body h2 {
    margin: 0;
}

.modal-body p {
    margin: 0;
}

.reaction-card {
    display: flex;
    flex-flow: row nowrap;
    position: relative;

    margin: 5px 0;
    width: 100px;
}

.reaction {
    border: none;
    border-radius: 10px 0 0 10px;
    color: #e0e0e0;

    font-size: 14px;
    padding: 5px;

    text-align: center;
    width: 40px;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.reaction:hover {
    cursor: pointer;
}

.reaction-display {
    background-color: #c6c6c6;
    border-radius: 0 10px 10px 0;

    font-size: 14px;
    padding: 5px 10px;

    text-align: right;
    width: 60px;
}

.like {
    background-color: #248004;
}

.like:hover {
    background-color: #32a00c;
}

.dislike {
    background-color: #c66404;
}

.dislike:hover {
    background-color: #dc781e;
}

.modal-tags {
    display: flex;
    flex-flow: row wrap;
}

.modal-tag {
    background-color: #248004;
    border-radius: 10px;
    color: #e0e0e0;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px 10px;
    text-decoration: none;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.modal-tag:hover {
    background-color: #32a00c;
    cursor: pointer;
}

/* Form styles */

form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    background-color: #c6c6c6;
    border-radius: 10px;
    margin: 5px;
    padding: 10px 0;
    width: 480px;
}

form div {
    margin: 5px 20px;
    width: 440px;
}

form div.message {
    background-color: #248004;
    border-radius: 10px;
    color: #e0e0e0;
    padding: 5px;
}

form div.message-hidden {
    display: hidden;
}

/*** For the missing fields ***/
form div .missing {
    background-image: linear-gradient(#e0e0e0, #e0d0d0);
    box-shadow: 3px 2px #c62004;
}

form div .pwd-area {
    display: flex;
    flex-flow: row nowrap;
    position: relative;

    margin: 0;
}

form div label {
    color: #000;
    display: block;
}

form div input[type=text], form div input[type=password], form div input[type=email], form div input[type=date] {
    font-family: Poppins, sans-serif;
    font-size: 14px;

    background-color: #e0e0e0;
    border: none;
    border-radius: 10px;
    
    padding: 5px;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

form div input[type=text], form div input[type=email], form div input[type=date] {
    width: 430px;
    border-radius: 10px;
}

form div .pwd-area input[type=password] {
    width: 430px;
    border-radius: 10px;
}

form div .pwd-area .toggle-pwd {
    background-color: #b4b4b4;
    color: #000;
    position: absolute;

    border-radius: 0 10px 10px 0;
    font-size: 14px;
    text-align: center;

    padding: 5px;
    right: 0;
    width: 40px;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

form div .pwd-area .toggle-pwd:hover {
    background-color: #c0c0c0;
    cursor: pointer;
}

form div input:hover, form div textarea:hover, form div select:hover {
    background-image: linear-gradient(#e0e0e0, #d6e0d6);
}

input[type=text]:focus, input[type=email]:focus, input[type=date]:focus, input[type=password]:focus, textarea:focus, select:focus {
    background-image: none;
    box-shadow: 3px 2px #808080;
}

form div input[type=file] {
    font-family: Poppins, sans-serif;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

form div input[type=file] + form div label {
    background-color: #c66404;
    color: #e0e0e0;
    display: inline-block;

    cursor: pointer;
}

form div input[type=file]:focus + label,
form div input[type=file] + label:hover {
    background-color: #c66404;
}

form div select {
    font-family: Poppins, sans-serif;
    font-size: 14px;

    background-color: #e0e0e0;
    border: none;
    border-radius: 10px;
    
    padding: 5px;
    width: 440px;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

form div textarea {
    font-family: Poppins, sans-serif;
    font-size: 14px;

    background-color: #e0e0e0;
    border: none;
    border-radius: 10px;
    
    padding: 5px;
    height: 140px;
    width: 430px;

    resize: none;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.form-button {
    background-color: #c66404;
    border: none;
    border-radius: 10px;
    color: #e0e0e0;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    margin: 20px;
    padding: 5px;
    width: 110px;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.form-button:hover {
    background-color: #dc781e;
    cursor: pointer;
}

/* Styles for aside */

aside {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;

    background-color: #a0d064;
    grid-column: 1 / 5;
    grid-row: 2;
}

aside div {
    background-color: #000;
    color: #e0e0e0;
    margin: 5px;
    width: calc(50% - 10px);
    height: 200px;
}

.profile {
    background-color: #000;
    color: #e0e0e0;
    margin: 5px;
    width: calc(100% - 10px);
    height: 120px;
}

.profile img {
    float: left;
    width: 120px;
    height: 120px;
    object-fit: cover;
}

/* Styles for footer */

footer {
    grid-column: 1 / 13;
    grid-row: 3;
    min-height: 120px;
}

.copyrite {
    text-align: center;
}

/* Media queries */

@media (max-width: 1080px) {
    .card {
        width: calc(50% - 10px);
    }
}

@media (min-width: 768px) {
    .desktop-nav {
        display: flex;
    }

    .menu {
        display: none;
    }
}

@media (max-width: 800px) {
    article {
        grid-column: 1 / 13;
        grid-row: 2;
    }

    aside {
        display: none;
        grid-column: 1 / 13;
        grid-row: 3;
    }

    footer {
        grid-row: 4;
    }
}

@media (max-width: 550px) {
    .card {
        width: calc(100% - 10px);
    }
}