/* Remove default browser margins for these elements */

body, header, h1, nav, div, p {
    margin: 0;
    padding: 0;
}

/* Apply these styles everywhere on the page */

body {
    font-family: Poppins, sans-serif;

    background-color: #000;
    color: #e0e0e0;
}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/* Styles for header */

header {
    display: flex;
    flex-flow: row wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;

    background-color: #248004;
    color: #e0e0e0;
    grid-column: 1 / 13;
    grid-row: 1;
    min-height: 60px;
}

.header-title {
    width: 240px;
}

.header-logo {
    display: inline-block;
    vertical-align: top;

    width: 240px;
    height: 60px;
}

nav {
    width: calc(100% - 240px);
    text-align: center;
}

.desktop-nav {
    display: none;
    flex-flow: row nowrap;
    justify-content: flex-end;

    height: 60px;
}

.desktop-nav div {
    font-size: 24px;
    margin: auto 4px;
    width: 120px;
}

.menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

    height: 60px;
}

.menu-icon {
    font-size: 40px;
    margin: auto 0;
    width: 60px;
}

.mobile-nav {
    overflow: hidden;
    height: 0;
    width: 100%;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.mobile-nav div {
    font-size: 24px;
    height: 40px;
    margin: auto 0;
    text-align: center;
}

.mobile-nav .propic {
    height: 48px;
    width: 48px;
    margin: 6px;
    object-fit: cover;
}

.header-link {
    text-decoration: none;
}

.header-link:link, .header-link:visited, .menu-icon:link, .menu-icon:visited {
    color: #e0e0e0;
}

.header-link:hover, .menu-icon:hover {
    color: #a0d064;
}

.header-link:active, .menu-icon:active {
    color: #e0e0e0;
}

.menu-icon:hover {
    cursor: pointer;
}

/* Styles for article */

article {
    background-color: #e0e0e0;
    color: #000;
    grid-column: 5 / 13;
    grid-row: 2;

    /* min-height: 800px; */
}

/* Gallery styles */

.gallery {
    display: flex;
    flex-flow: row wrap;
}

.card {
    display: flex;
    position: relative;

    background-color: #000;
    margin: 5px;
    width: calc(33.33% - 10px);
    height: 300px;
    overflow: hidden;
}

.card:hover {
    cursor: pointer;
}

.card:hover .card-img {
    opacity: 0.618;
}

.card:hover .card-info {
    bottom: 0;
}

.card-img {
    width: 100%;
    height: 300px;
    object-fit: scale-down;
    color: #e0e0e0;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.card-info {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: -40px;

    width: 100%;
    height: 100px;
    
    background-color: rgba(0, 0, 0, 61.8%);
    color: #e0e0e0;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.card-head {
    display: flex;
    width: 100%;
    height: 60px;

    /* background-color: rgba(60, 120, 0, 50%); */
}

.card-title {
    margin: auto 10px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-foot {
    display: flex;
    width: 100%;
    height: 40px;

    /* background-color: rgba(180, 60, 0, 50%); */
}

.card-author {
    margin: auto 10px;

    text-align: left;
    width: 61.8%;
}

.card-faves {
    margin: auto 10px;

    text-align: right;
    width: 38.2%;
}

/* Modal styles */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 999;

    background-color: rgba(0, 0, 0, 61.8%);
}

.modal-content {
    display: flex;
    position: relative;

    width: 960px;
    height: 640px;
    margin: auto;

    background-color: #000;
    color: #e0e0e0;
}

.modal-img {
    width: 640px;
    height: 640px;
    object-fit: scale-down;
}

.modal-aside {
    width: 320px;
    height: 640px;
}

.modal-head, .modal-body {
    background-color: #e0e0e0;
    color: #000;
}

.modal-head {
    display: flex;
    width: 320px;
    height: 40px;
}

.modal-title {
    margin: auto 10px;
    width: 280px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal-close {
    font-size: 24px;
    text-align: center;

    margin: auto 0;
    width: 40px;
}

.modal-close:hover {
    cursor: pointer;
}

.modal-body {
    width: 300px;
    height: 600px;
    padding: 10px;
}

.modal-body h2 {
    margin: 0;
}

.modal-body p {
    margin: 0;
}

/* Form styles */

form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    background-color: #248004;
    border-radius: 10px;
    margin: 5px;
    width: 480px;
}

form div {
    margin: 5px 20px;
    width: 440px;
}

form div label {
    background-color: #e0e0e0;
    color: #000;
    display: block;

    border-radius: 10px 10px 0 0;
    padding-left: 10px;
    width: 170px;
}

form div input {
    width: 98%;
}

.button {
    background-color: #c66404;
    border: none;
    border-radius: 10px;
    color: #e0e0e0;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    margin: 5px 20px;
    padding: 5px;
    width: 110px;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.button:hover {
    background-color: #e0e0e0;
    color: #000;
    cursor: pointer;
}

/* Styles for aside */

aside {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;

    background-color: #a0d064;
    grid-column: 1 / 5;
    grid-row: 2;
}

aside div {
    background-color: #000;
    color: #e0e0e0;
    margin: 5px;
    width: calc(50% - 10px);
    height: 200px;
}

.profile {
    background-color: #000;
    color: #e0e0e0;
    margin: 5px;
    width: calc(100% - 10px);
    height: 120px;
}

.profile img {
    float: left;
    width: 120px;
    height: 120px;
    object-fit: cover;
}

/* Styles for footer */

footer {
    grid-column: 1 / 13;
    grid-row: 3;
    min-height: 120px;
}

.copyrite {
    text-align: center;
}

/* Et cetera styles */

textarea {
    resize: none;
}

/* Media queries */

@media (max-width: 1080px) {
    .card {
        width: calc(50% - 10px);
    }
}

@media (min-width: 768px) {
    .desktop-nav {
        display: flex;
    }

    .menu {
        display: none;
    }
}

@media (max-width: 800px) {
    article {
        grid-column: 1 / 13;
        grid-row: 2;
    }

    aside {
        display: none;
        grid-column: 1 / 13;
        grid-row: 3;
    }

    footer {
        grid-row: 4;
    }
}

@media (max-width: 550px) {
    .card {
        width: calc(100% - 10px);
    }
}