body {
    background-color: #333;
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    background-color: #ccc;
    grid-column: 1 / 13;
    grid-row: 1;
    min-height: 60px;
}

article {
    background-color: #aaa;
    grid-column: 5 / 13;
    grid-row: 2;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    min-height: 360px;
}

.gallery div {
    background-color: #000;
    color: #fff;
    margin: 5px;
    width: calc(25% - 10px);
    height: 200px;
}

form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    background-color: #5a0;
    border-radius: 10px;
    margin: 5px;
    width: 480px;
}

form div {
    background-color: #000;
    color: #fff;
    margin: 5px 20px;
    width: 440px;
}

form div label {
    display: block;
}

form div input[type=text] {
    width: 98%;
}

.button {
    background-color: #c60;
    border: none;
    border-radius: 10px;
    color: #fff;
    margin: 5px 20px;
    padding: 5px;
    width: 110px;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.button:hover {
    background-color: #fff;
    color: #000;
}

aside {
    background-color: #666;
    grid-column: 1 / 5;
    grid-row: 2;
}

footer {
    background-color: #888;
    grid-column: 1 / 13;
    grid-row: 3;
    min-height: 120px;
}

#heading {
    background-color: #543;
    grid-column: 1 / 5;
}

#logo {
    background-color: #123;
    color: #eee;
    font-size: 40px;
    text-align: center;
    width: 240px;
    height: 60px;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

    background-color: #684;
    grid-column: 5 / 13;
    text-align: center;
}

nav div {
    background-color: #000;
    color: #fff;
    font-size: 24px;
    margin: 4px;
    width: 120px;
}