/* Remove default browser margins for these elements */

body, header, h1, nav, div, p {
    margin: 0;
    padding: 0;
}

/* Apply these styles everywhere on the page */

body {
    font-family: Poppins, sans-serif;

    background-color: #000;
    color: #e0e0e0;
}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/* Styles for header */

header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;

    background-color: #40a004;
    grid-column: 1 / 13;
    grid-row: 1;
    min-height: 60px;
}

#heading {
    grid-column: 1 / 5;
}

#logo {
    font-size: 40px;
    text-align: center;
    width: 240px;
    height: 60px;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

    grid-column: 5 / 13;
    text-align: center;
}

nav div {
    font-size: 24px;
    margin: auto 4px;
    width: 120px;
}

.headerlink {
    text-decoration: none;
}

.headerlink:link, .headerlink:visited {
    color: #e0e0e0;
}

.headerlink:hover {
    color: #a0d064;
}

.headerlink:active {
    color: #e0e0e0;
}

/* Styles for article */

article {
    background-color: #e0e0e0;
    color: #000;
    grid-column: 5 / 13;
    grid-row: 2;
}

/* Gallery styles */

.gallery {
    display: flex;
    flex-flow: row wrap;
}

.image {
    position: relative;

    background-color: #000;
    color: #fff;
    margin: 5px;
    width: calc(33.33% - 10px);
    height: 300px;
}

.image img {
    width: 100%;
    height: 300px;

    object-fit: cover;
}

.description {
    position: absolute;
    background-color: rgba(0, 0, 0, 66.66%);

    margin: 0;
    padding: 0;

    width: 100%;
    height: 100px;
    bottom: 0;
}

/* Form styles */

form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    background-color: #40a004;
    border-radius: 10px;
    margin: 5px;
    width: 480px;
}

form div {
    margin: 5px 20px;
    width: 440px;
}

form div label {
    background-color: #e0e0e0;
    color: #000;
    display: block;

    border-radius: 10px 10px 0 0;
    padding-left: 10px;
    width: 170px;
}

form div input {
    width: 98%;
}

.button {
    background-color: #c66404;
    border: none;
    border-radius: 10px;
    color: #e0e0e0;
    margin: 5px 20px;
    padding: 5px;
    width: 110px;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.button:hover {
    background-color: #e0e0e0;
    color: #000;
}

/* Styles for aside */

aside {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;

    background-color: #a0d064;
    grid-column: 1 / 5;
    grid-row: 2;
}

aside div {
    background-color: #000;
    color: #e0e0e0;
    margin: 5px;
    width: calc(50% - 10px);
    height: 200px;
}

.profile {
    background-color: #000;
    color: #e0e0e0;
    margin: 5px;
    width: calc(100% - 10px);
    height: 120px;
}

.profile img {
    float: left;
    width: 120px;
    height: 120px;
    object-fit: cover;
}

/* Styles for footer */

footer {
    grid-column: 1 / 13;
    grid-row: 3;
    min-height: 120px;
}

.copyrite {
    text-align: center;
}

/* Et cetera styles */

textarea {
    resize: none;
}

/* Media queries */

@media (max-width: 1080px) {
    .image {
        width: calc(50% - 10px);
    }
}